

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ececec;
        width: 100%; /* Ancho del header: 80% de la pantalla */
        background-color: rgba(255, 255, 255, 0.2); /* Agregamos un fondo con transparencia */
        font-size: 1.2rem;

        .cont-logoMenu{
            width: 80%;
            display: flex;
            justify-content: space-between;

            .abrir-menu,
            .cerrar-menu {
                display: none;

                @include tablet{
                    display: block;
                    border: 0;
                    font-size: 1.25rem;
                    background-color: transparent;
                    cursor: pointer;
                    color: #ececec;
                }
            }

            

            .logo{
                max-width: 15rem;
                transition: transform 0.3s;
                -webkit-transition: transform 0.3s;
                -moz-transition: transform 0.3s;
                -ms-transition: transform 0.3s;
                -o-transition: transform 0.3s;

                &:hover {
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }

                @include tablet{
                    max-width: 10rem;
                }

            }
            .nav{
                display: flex;
                align-items: center;
                padding-top: 15px;

                .nav-list{
                    list-style-type: none;
                    display: flex;
                    gap: 1rem;
                    margin-bottom: 0;                

                    li {
                        margin-right: 20px;
                        display: inline-block;
                        transition: transform 0.3s;
                        /* Agregamos una transición suave para el cambio de tamaño */
                        -webkit-transition: transform 0.3s;
                        -moz-transition: transform 0.3s;
                        -ms-transition: transform 0.3s;
                        -o-transition: transform 0.3s;

                        /* Efecto de cambio de tamaño en el hover */
                        &:hover {
                            transform: scale(1.3);
                            -webkit-transform: scale(1.3);
                            -moz-transform: scale(1.3);
                            -ms-transform: scale(1.3);
                            -o-transform: scale(1.3);
                        }

                        a{
                            text-decoration: none;/*Quitando el decorado del */
                            color: #ecececec;
                        }

                        @include tablet{
                            text-align: center;
                        }
                    }
                    
                    @include tablet{
                        flex-direction: column;
                    }

                }

                @include tablet{
                    opacity: 0;
                    visibility: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    gap: 1rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #1c1c1c;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 2rem;
                    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
                    z-index: 1000; /* Para que el menu no quede por atras del slide */ 
                }
            }

            .nav.visible {
                    @include tablet{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
