.container-1 {
    background-image: url("../images/fondo.jpg"); /* Reemplaza con la ruta de la imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Contenedor-1 ocupará el 100% de la altura de la ventana */
    display: grid;
    grid-template-rows: 90px auto;

    @include tablet{
        height: 1000px;
    }
}

.container-pages {
    background-color: $colorFondo;
    background-size: cover;
    background-position: center;
    /*height: 100vh; /* Contenedor-1 ocupará el 100% de la altura de la ventana */
    height: 100vh; 
    display: grid;
    grid-template-rows: 90px auto;

    .container-pages-2{
        @extend %flex-column-center;
        align-items: center;
        width: 80%;
        margin: auto;
        color: #c4c4c4;
        
        h2{
            font-size: 3rem;
            padding-top: 1rem;
            padding-bottom: 2rem;

            @include tablet{
                font-size: 2rem;
            }
        }
        p{
            //padding-top: 20px;
            font-size: 1.5rem;

            @include tablet{
                font-size: 1.2rem;
            }
        }

        input, textarea, button{
            
            width: 500px;
            
            @include tablet{
                max-width: 350px; 
                
            }
        }

        .contacto{
            max-width: 100px;
        }
    }
}

.container-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 80%;
    margin: auto;
}


 
.btn-primary {
    background-color: $colorFondo;
}

.cont-tarjetas{
  /*   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    img{
        padding-bottom: 20px;
    }
} 
